@import './global.scss';


  .title {
    font-weight: 700;
  }
  
  .mt-5
  {
    margin-top: 3rem !important;  }
    .ortala
    {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }